@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte-principal: 'Comfortaa', 'cursive';
}

body {
    font-family: var('--fonte-principal'), cursive;
    background-color: white;
}

header {
    background-color:  #1a1e29;
    color: #fff9f9;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    font-weight: 200;
    color: #ffffff;
}

main {
    padding: 20px;
    overflow: hidden;
}


