@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte-principal: 'Comfortaa', 'cursive';
}

body {
    font-family: var(--fonte-principal), cursive;
    background-color:  rgb(11, 167, 167);
}

header {
    background-color: #1a1e29;
    color: #fff9f9;
    text-align: right;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-right: 5%;
}

header:hover {
    background: #000000;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin: 1%;
    padding: 1%;
    border-radius: 15px;
    cursor: pointer;
}

nav ul li:hover {
    background-color: #00e7ad34;
}

nav li {
    display: inline;
    margin-right: 20%;
    transition: all 0.5s ease;
}

nav a {
    text-decoration: none;
    font-size: 160%;
    color: #ffffff;
}

.nome {
    position: absolute;
    top: 3.5%;
    left: 8%;
    font-family: 'Staatliches', 'cursive';
    font-size: 250%;
    color: white;
}

.logo {
    position: absolute;
    justify-content: flex-start;
    top: 2%;
    left: 2%;
}

[class*="col-"] {
    float: left;
    padding-right: 5px;
}

.col-1 { width: 8.33%;float: left; padding-right: 10px;}
.col-2 {width: 16.66%;float: left; padding-right: 10px;}
.col-3 {width: 25%;float: left;padding-right: 10px;}
.col-4 {width: 33.33%;float: left;padding-right: 10px;}
.col-5 {width: 41.66%;float: left;padding-right: 10px;}
.col-6 {width: 50%;float: left;padding-right: 10px;}
.col-7 {width: 58.33%;float: left;padding-right: 10px;}
.col-8 {width: 66.66%; float: left; padding-right: 10px;}
.col-9 {width: 75%; float: left; padding-right: 10px;}
.col-10 {width: 83.33%; float: left; padding-right: 10px;}
.col-11 {width: 91.66%; float: left; padding-right: 10px;}
.col-12 {width: 100%; float: left; padding-right: 10px;}

.banner {
    background-color: #1a1e29;
    color: #fff9f9;
    text-align: center;
    font-size: 200%;
    padding-top: 2%;
    padding-bottom: 3%;
    font-family: 'Montserrat', 'sans-serif';
}


/*slider*/

.slider {
    width: 100%;
    height: 10%;
    position: relative;
    background: #242424;
    overflow: hidden;
    filter: brightness(70%);
    border-radius: 0.5%;
    background-color: #1a1e29;
}

.slider img {
    width: 100%;
    height: 10%;
    object-fit: cover;
    position: relative;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: fade 1s;
}

.slider .seta {
    z-index: 10;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: auto;
    right: auto;
    width: auto;
    height: 1.5rem;
    font-size: 2.5em;
    color: cornsilk;
    opacity: 0.5;
    transition: opacity 1s;
}

.slider .seta:hover {
    cursor: pointer;
    opacity: 1;
}

.slider .arrow-left {
    left: 2%;
}

.slider .arrow-right {
    right: 2%;
}

.slider .paginacao {
    position: absolute;
    margin: auto;
    top: auto;
    bottom: 2%;
    left: 0;
    right: 0;
    width: 7rem;
    height: auto;
    z-index: 5;
}

.slider .paginacao .botao {
    width: auto;
    height: auto;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    color: #fff;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

/*cronograma*/

:root {
    --primary-color: #1a1e29;
    --secondary-color: #2d255c;
    --tertiary-color: #fff;
    --text-color: #132d46;
}

.cronograma {
    background-color: rgb(11, 167, 167);
}

.card {
    width: 700px;
    height: 450px;
    margin: 25px;
    perspective: 1000px;
    justify-content: center;
    display: flex;
}

.card_inner {
    width: 100%;
    height: 100%;
    transition: transform .7s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: flex;
    background-color: #fff;
    border-radius: 7%;
}

.card_inner.flipped {
    transform: rotateY(180deg);
}

.card_cover {
    position: fixed;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.75);
    backface-visibility: hidden;
}

.card_front {
    background-image: linear-gradient(to bottom right, var(--primary-color) 25%, var(--secondary-color) 130%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_front h2 {
    color: var(--tertiary-color);
    font-size: 30px;
}

.card_back {
    transform: rotateY(180deg);
}

.card_title {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card_title h3 {
    color: var(--tertiary-color);
    font-size: 40px;
}

.card_title:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left, var(--primary-color) 25%, var(--secondary-color) 130%);
    z-index: -1;
    border-radius: 20px 20px 50% 50%;
}

.card_content {
    height: 100%;
    width: 100%;
    padding: 20px 20px;
    text-align: center;
    font-size: 25px;
}

.card_content p {
    text-align: justify;
    color: var(--text-color);
}

/*maratona*/
#maratona {
    background-color: rgb(11, 167, 167);
    align-items: center;
    font-size: x-large;
}

#maratona img {
    height: 200px;
    }

    
#maratona h6 {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px; 
    color: #f8f8f8;
    background-color: #1a1e29;
    border-radius: 0 0 8px 8px;
    font-weight: normal;
    padding: 5px;
}
    
img.img_ajuste {
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

/*jogos*/

#jogos {
    background-color: rgb(11, 167, 167);
    font-size: x-large;
}

#jogos img {
    height: 400px;
    align-items: center;
    
}
    
#jogos h6 {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px; 
    color: #f8f8f8;
    background-color: #1a1e29;
    border-radius: 0 0 8px 8px;
    font-weight: normal;
    padding: 5px;
}
    
img.img_ajuste {
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}