@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte-principal: 'Comfortaa', 'cursive';
}

body {
    font-family: var(--fonte-principal), cursive;
    background-color: white;
}

header {
    background-color: #1a1e29;
    color: #fff9f9;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

header:hover {
    background: #000000;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin: 20px;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
}

nav ul li:hover {
    background-color: #00e7ad34;
}

nav li {
    display: inline;
    margin-right: 20px;
    transition: all 0.5s ease;
}

nav a {
    text-decoration: none;
    font-weight: 200;
    color: #ffffff;
}

.nome {
    position: absolute;
    top: 15px;
    left: 230px;
    font-family: 'Staatliches', 'cursive';
    font-size: 50px;
    color: white;
}

.logo {
    position: absolute;
    top: 5px;
    left: 50px;
}

/*slider*/

.carousel input {
    position: absolute;
    left: -10000px;
}

.carousel {
    width: 90%;
    height: 90%;
    margin: 0 auto;
}

.carousel__stage {
    overflow: hidden;
    font-size: 0;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    transition: text-indent 500ms;
    position: relative;
    background-color: #132d46;
}

.carousel__item {
    display: inline-block;
    text-indent: 0;
    width: 100%;
    height: 100%;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__control {
    display: none;
    position: absolute;
    top: 50%;
    color: #fff;
    background: rgba(0, 0, 0, 0.26);
    z-index: 1;
    font-size: 1rem;
    padding: 20px;
    cursor: pointer;
}

.carousel__prev {
    left: 0;
}

.carousel__prev::after {
    content: ' << ';
    display: inline-block;
}

.carousel__next {
    right: 0;
}

.carousel__next::after {
    content: ' >> ';
    display: inline-block;
}

#carousel1:checked~.carousel__stage {
    text-indent: 0;
}

#carousel2:checked~.carousel__stage {
    text-indent: -100%;
}

#carousel3:checked~.carousel__stage {
    text-indent: -200%;
}

#carousel1:checked~.carousel__stage .carousel__item:nth-child(1) .carousel__control,
#carousel2:checked~.carousel__stage .carousel__item:nth-child(2) .carousel__control,
#carousel3:checked~.carousel__stage .carousel__item:nth-child(3) .carousel__control {
    display: block;
}